@keyframes slide-up {
  from {
    transform: translateY(100%);
    opacity: 25;
  }
  to {
    transform: translateY(0);
    opacity: 100;
  }
}

.animate-slide-up {
  animation: slide-up 0.5s ease-out;
}

.play {
  transition: transform ease-in-out 50ms, fill 150ms;
  &:hover {
    fill: #FFE959;
    animation: jump 0.25s ease-in-out 0.5s forwards;
  }
}

@keyframes jump {
  0% {
    transform: translateY(0) rotate(0);
  }
  50% {
    transform: translateY(-6px) rotate(-15deg);
  }
  80% {
    transform: translateY(-2px) rotate(-10deg);
  }
  100% {
    transform: translateY(0) rotate(0);
  }
}

.wiggle {
  transition: transform ease-in-out 150ms, fill ease-in-out 150ms ;
  &:hover {
    fill: #FF5454;
    animation: wiggle 0.6s ease-in-out 0.2s 2; 
  }
}

@keyframes wiggle {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(-5deg); 
  }
  50% {
    transform: rotate(5deg); 
  }
  75% {
    transform: rotate(-5deg); 
  }
  100% {
    transform: rotate(0deg);
  }
}